 
.holder{
    display: flex;
    align-items:center;
    justify-content:space-between;
   height: 600px;
   width:680px;
}
body{
    display: flex;
    justify-content: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    transition: background-color 1s ease-in ;

}
.holder div{
    display: flex;
   gap:30px;
   justify-content: left;
   flex-direction: column;
}
button{
    height:auto;
    width:auto;
    border-radius: 30px;
    border-style: none;
    font-size: 20px;
    background-color: rgb(239, 241, 241);  
    appearance:none;
    cursor:pointer;
    user-select:none;
    will-change:opacity;
    font-weight: 500;
    padding: 21px;
    letter-spacing: 2px;
    border: 1px solid #ccc;
     box-shadow: 3px 2px 4px grey;
    
}

.holder h1{
    width: 297px;
    height: 335px;
    font-size:45px;
    line-height: 71px;

}
button:active{
 box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
 border:1px solid blue;

}
button:hover{ 
    background-color: #d8dce0;
    border:1px solid blue;
    color:rgb(49, 49, 182) ;
}
