body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

}
body div{
    display: flex;
   gap:20px;

}
button{
    height: 30px;
    width:84px;
}